[run]
branch = true
source = quade

[report]
omit =
    *site-packages*
    *tests*
    *.tox*
show_missing = True
exclude_lines =
    raise NotImplementedError
    pragma: no cover
    __doc__

[paths]
source =
   src/quade
   .tox/*/lib/python*/site-packages/quade
   .tox/pypy*/site-packages/quade
