# Text files
*~
\#*\#

# Python
*.pyc
__pycache__/

# Python distribution / packaging
# https://github.com/github/gitignore/blob/master/Python.gitignore
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Example app
example/db.sqlite3

# Other artifacts
.coverage
.coverage.*
.tox

# PyCharm
.idea/

# Sphinx documentation
docs/_build/
